<!DOCTYPE html>
<html>
<head>
<style>
.my-table {
    border: solid 1px #DDDDDD;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    margin: 0 auto;
}
.my-table thead th {
    background-color: #000000;
    border: solid 1px #DDDDDD;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
}
.my-table tbody td {
    border: solid 1px #DDDDDD;
    color: #333;
    padding: 10px;
}        
.my-table tr:nth-child(even) {background-color: #EEEEEE;}
</style>
</head>
<body>
<table class=my-table>
    <thead>
        <tr>
            <th> # </th>
            <th>Hostname</th>
            <th>Image</th>
            <th>IP Address</th>
            <th>VM Size</th>
            <th>Location</th>
            <th>Resource Group</th>
            <th>Security Group</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
{% for host in groups['all'] %}
<tr>
         <td> {{ loop.index }} </td>
         <td>{% if hostvars[host].computer_name is defined %} {{hostvars[host]['computer_name'] }} {% endif  %}</td>
         <td>{% if hostvars[host].image is defined %} {{hostvars[host]['image'].offer}}-{{hostvars[host]['image'].version}} {% endif  %}</td>
         <td>{% if hostvars[host].private_ip is defined %}  {{hostvars[host]['private_ip'] }} {% endif  %}</td>
         <td>{% if hostvars[host].virtual_machine_size is defined %}  {{hostvars[host]['virtual_machine_size'] }} {% endif  %}</td>
         <td>{% if hostvars[host].location is defined %}  {{hostvars[host]['location'] }} {% endif  %}</td>
         <td>{% if hostvars[host].resource_group is defined %}  {{hostvars[host]['resource_group'] }} {% endif  %}</td>
         <td>{% if hostvars[host].security_group  is defined %}  {{hostvars[host].security_group }} {% endif  %}</td>
          <td>{% if hostvars[host].powerstate is defined %} {{hostvars[host]['powerstate']}} {% endif  %}</td>
 </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
