<!DOCTYPE html>
<html>
<head>
<style>
.my-table {
    border: solid 1px #DDDDDD;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    margin: 0 auto;
}
.my-table thead th {
    background-color: #000000;
    border: solid 1px #DDDDDD;
    color: #FFFFFF;
    padding: 10px;
    text-align: left;
}
.my-table tbody td {
    border: solid 1px #DDDDDD;
    color: #333;
    padding: 10px;
    vertical-align: top;
}        
.my-table tr:nth-child(even) {background-color: #EEEEEE;}
</style
</head>
<body>
<table class=my-table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Distribution</th>
            <th>Kernel</th>
            <th>Updates</th>
        </tr>
    </thead>
    <tbody>
{% for host in groups['windows'] %}
        <tr>
            <td>{{hostvars[host].ansible_hostname}}</td>
            <td>{{hostvars[host].ansible_distribution}}</td>
            <td>{{ansible_facts['kernel']}}</td>
            <td>{% if hostvars[host].updatelist is defined %}
                    {% for item in hostvars[host].updatelist %}
                       - {{ item }} <br>
                    {% endfor %}
                {% endif  %}
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
