<html>
<table border="1">
{% for host in groups['all'] %}
<tr>
         <td> {{hostvars[host]['config.name'] }}</td>
         <td> {{hostvars[host]['config.guestFullName'] }}</td>
         <td>  {{hostvars[host]['guest.ipAddress'] }}</td>
         <td>  {{hostvars[host]['config.hardware.memoryMB'] }}</td>
         <td>  {{hostvars[host]['config.hardware.numCPU'] }}</td>
          <td> {{hostvars[host]['summary.quickStats.uptimeSeconds'] }}</td>
          <td> {{hostvars[host]['runtime.powerState']}}</td>"
 </tr>
{% endfor %}
 </table>
 </html>
