<!DOCTYPE html>
<html>
<head>
<style>
body { 
  font-size: 140%; 
}

h2 {
  text-align: center;
  padding: 20px 0;
}

table caption {
  padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
</style
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Distribution</th>
            <th>Kernel</th>
            <th>Updates</th>
            <th>Distribution</th>
            <th>Kernel</th>
            <th>Updates</th>
        </tr>
    </thead>
    <tbody>
{% for host in groups['all'] %}
<tr>
         <td> {{hostvars[host]['config.name'] }}</td>
         <td> {{hostvars[host]['config.guestFullName'] }}</td>
         <td>  {{hostvars[host]['guest.ipAddress'] }}</td>
         <td>  {{hostvars[host]['config.hardware.memoryMB'] }}</td>
         <td>  {{hostvars[host]['config.hardware.numCPU'] }}</td>
          <td> {{ ( hostvars[host]['summary.quickStats.uptimeSeconds']   | int ) // 86400 }} days</td>
          <td> {{hostvars[host]['runtime.powerState']}}</td>"
 </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
